@{
    ViewData["Title"] = "Book Info";
}

@section scripts {

    <script src="~/lib/angular.js/angular.js"></script>

    <script type="text/javascript">
        angular.module("BookApp", []);
    </script>
    <script src="~/js/BookController.js"></script>
}

<div class="container container-fluid" ng-app="BookApp" ng-controller="BookCtrl">
    <br />
    <h2>Book Details</h2>
    <br />
    <div class="table table-responsive col-xs-12">
        <label class="carousel">
            <b>Search Book:</b> <input ng-model="searchBook" />
            <br /><br />
        </label>
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Book Name</th>
                    <th>Publisher Name</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in BookArray | filter : searchBook">
                    <td>{{item.bookID}}</td>
                    <td>{{item.bookName}}</td>
                    <td>{{item.bookPublisher}}</td>
                    <td>{{item.category}}</td>
                    <td>
                        <a href="#" class="text-info" ng-click="updateStart(item)"><i class="glyphicon glyphicon-check">Edit</i></a>
                        <a href="#" class="text-danger" ng-click="deleteInformation(item)"><i class="glyphicon glyphicon-trash">Delete</i></a>
                    </td>
                </tr>

                <tr>
                    <td><input type="text" readonly class="alert alert-info" style="width: 90%; height : 90%;" ng-model="bookInfo.bookID" /></td>
                    <td><input type="text" class="alert alert-info" style="width: 90%; height : 90%;" ng-model="bookInfo.bookName" /></td>
                    <td><input type="text" class="alert alert-info" style="width: 90%; height : 90%;" ng-model="bookInfo.bookPublisher" /></td>
                    <td><input type="text" class="alert alert-info" style="width: 90%; height : 90%;" ng-model="bookInfo.category" /></td>
                    <td>
                        <button class="btn btn-success" ng-hide="bookInfo.bookID" ng-click="bookInsert(bookInfo)"><i class="glyphicon glyphicon-cloud-download"></i>Create</button>
                        <button class="btn btn-success" ng-show="bookInfo.bookID" ng-click="updateConfirm(bookInfo)"><i class="glyphicon glyphicon-refresh"></i>Update</button>
                        <button class="btn btn-success" ng-show="bookInfo.bookID" ng-click="cancel()"><i class="glyphicon glyphicon-remove-sign"></i>Cancel</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
